@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bookWidth: 80px;
  --bookHeight: 55px;
  --pageHeight: var(--bookHeight);
  --pageWidth: calc(var(--bookWidth) / 2)
}

html {
  overflow: auto !important;
  padding-right: 0px !important; 
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center rounded-md border border-transparent bg-slate-400 dark:bg-slate-500 px-4 py-2 text-sm font-medium text-indigo-100 hover:text-indigo-100 hover:bg-indigo-400 dark:hover:bg-slate-600 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2 lg:text-base;
  }; 
  .btn-transparent {
    @apply inline-flex items-center rounded-md border border-transparent bg-white text-slate-100 px-4 py-2 text-sm font-medium hover:bg-slate-100 focus:outline-none lg:text-base
  };
  .btn-alert {
    @apply inline-flex items-center rounded-md border border-transparent bg-red-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2 lg:text-base
  };
  .btn-secondary {
    @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2
  }
}

/* styling scrollbar for sidebars menu where it is invisible when there it is not active */
/* when active it applies the scrollbar color */
@layer utilities {
  .scrollbarX {
    overflow-x: scroll;
    scrollbar-width: 8px;
    scrollbar-color: transparent transparent;
  }

  .scrollbarY {
    overflow-x: scroll;
    scrollbar-width: 8px;
    scrollbar-color: transparent transparent;
  }
  
  .scrollbarX:hover,
  .scrollbarX:active,
  .scrollbarY:hover,
  .scrollbarY:active {
    scrollbar-color: rgb(250, 250, 250) rgb(199, 186, 186);
  }
  
  /* Webkit browsers like Chrome, Safari, etc. */
  .scrollbarX::-webkit-scrollbar, .scrollbarY::-webkit-scrollbar {
    height: 16px;
  }
  
  .scrollbarX::-webkit-scrollbar-thumb, .scrollbarY::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .scrollbarY:hover::-webkit-scrollbar-thumb,
  .scrollbarX:hover::-webkit-scrollbar-thumb {
    background-color: rgb(250, 250, 250);
  }
  
  .scrollbarX:active::-webkit-scrollbar-thumb,
  .scrollbarY:active::-webkit-scrollbar-thumb {
    background-color: rgb(199, 186, 186)
  }

  .scrollbarX::-webkit-scrollbar-thumb,
  .scrollbarY::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
  }
}

html,
body {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: black;
  }
}

/* react-datepicker */
/* react-datepicker sytling cannot be styled using tailwind */
/* and hence applying global css here following the documentation guide  */
.react-datepicker__header,
.react-datepicker-year-header {
  opacity: 0.55;
  font-weight: bolder;
}

:first-of-type.react-datepicker__current-month {
  font-size: 1.15rem;
  font-weight: bolder;
}

:first-of-type.react-datepicker-year-header,
:first-of-type.react-datepicker__header {
  background-color: white;
}

.react-datepicker__navigation {
  min-height: 44px;
  margin: 0 22px 0 22px;
}

.react-datepicker__year-wrapper {
  display: grid;
  justify-content: center;
}

.react-datepicker__day--outside-month {
  opacity: 0.2;
}

